@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}

.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover{
    color: grey;
    transition: 0.5s;
}


.rightNav{
    width: 30%;
    text-align: right;
    padding: 0 23px;
}


#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}


.background{
    background: rgba(0, 0, 0, 0.7) url('bcg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    max-width: 50%;
    margin: auto;
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf{
    width: 20%;
}

.secondHalf img{
    width: 80%;
    border: 4px solid white;
    border-radius: 180px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 41px;
    margin: 8px auto;
}
.text-small{
    font-size: 18px;
}
.btn{
    padding: 8px 20px;
    margin: 15px 3px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 11px;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}

.btnDark{
    color: black;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    margin: 5% 45%;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    
}

.section-left{
    flex-direction: row-reverse;
}

.paras{ padding: 0px 80px;}

.sectionTag{
    padding: 16px 0;
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
    width: 150px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 15vh auto;
}

.contact{
    background: rgb(240, 240, 240);
    height: 110vh;
    max-width: 100vw;
}
.text-center{
    text-align: center;
    padding: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 174%;
}

.contact div{
    max-width: 62%;
    margin: 18px auto;
}

.form-input{
    width: 100%;
    margin: 18px 0;
    padding: 5px 3px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: wheat;
}

.burger{
    position: absolute;
    cursor: pointer;
    right: 3%;
    top: 15px;
    display: none;
}


.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
